@import './variable';
// Grid variables
$containerMarginMobile: 20px;
$containerMarginTablet: 40px;
$container: 960px;
$containerWide: 1180px;
$containerSuperWide: 1280px;
$containerMediumWide: 1224px;

.container {
  max-width: 100%;
  margin-left: $containerMarginMobile;
  margin-right: $containerMarginMobile;

  @media (min-width: $tablet) {
    margin-left: $containerMarginTablet;
    margin-right: $containerMarginTablet;
    padding: 0 1rem;
  }

  @media (min-width: $desktop) {
    max-width: $container;
    margin: 0 auto;
  }

  @media (min-width: $desktopWide) {
    max-width: $containerWide;
  }
  
  @media (min-width: $desktopSupperWide) {
    max-width: $containerSuperWide;
    padding: 0;
  }
}
