@import "../../assets/css/index";
.hero-slider{
  &__item{
    @include flex(center , unset);
    padding: 7rem;
    height: auto;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    @include maxW($desktopSupperWide){
      padding: 6rem 4rem;
    }
    @include maxW($mobile){
      width: 100% !important;
      padding: 4rem 2rem;
    }
  }
  &__content{
    width: 70%;
    padding: 0 3rem;
    position: relative;
    @include maxW($desktopWide){
      padding: 0 .5rem;
    }
    @include maxW($mobile){
      width: 100% ;
    }
  }
  &__title{
    font-size: 5rem;
    font-weight: 600;
    @include maxW($desktopSupperWide){
      font-size: 3rem;
    }
    @include maxW($desktopWide){
      font-size: 2rem;
    }
  }
  &__desc{
    font-size: 2rem;
    line-height: 1.35;
    margin: 2rem 0 ;
    @include maxW($desktopSupperWide){
      font-size: 1.5rem;
    }
    @include maxW($desktopWide){
      font-size: 1.2rem;
      line-height: 1.3;
    }
  }
  &__btn{
    padding: 2rem 0 0 0;
    @include maxW($desktopSupperWide){
      padding: 1.5rem 0 0 0;
    }
    @include maxW($mobile){
      padding: .5rem 0 0 0;
    }
  }
  &__links{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    padding: .8rem 2rem;
    margin-right: 24px;
    border: 3px solid transparent ;
    border-radius: 30px;
    color: $white;
    background-color: $red;
    text-transform: uppercase;
    box-shadow: 0px 0px 7px 8px #ff00004d;
    transition: all .5s ease;
    cursor: pointer;
    @include maxW($desktopSupperWide){
      font-size: 1rem;
      padding: .5rem 1.5rem;

    }
    @include maxW($mobile){
      margin: 0 .5rem 0 0;
    }
    &:hover{
      box-shadow: 0px 0px 12px 13px #ff00004d;
    }
    &:last-child{
      box-shadow: none;
      background-color: $black;
      &:hover {
        background-color: $white;
        color: $red;
      }
    }
  }
  &__thumbnail{
    @include maxW($mobile){
      display: none;
    }
    width: 400px;
    img{
      display: block;
      width: 100%;
      border-radius: 30px;
      object-fit: contain;
      box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0;
    }
  }
}