@import '../../assets/css/index';
.card{
  position: relative;
  height: 100%;
  transition: all .5s ease;
  @include maxW($mobile){
    width: calc((100% / 4) - 10px) !important;
  }
  @include maxW($mobileSupperWide){
    width: calc((100% / 3) - 10px) !important;
  }
  @include maxW($mobilePortraitOnly){
    width: calc((100% / 2) - 10px) !important;
  }
  &__swiper{
    .swiper-slide{
      width: calc((100% / 5) - 10px) !important;
      @include maxW($mobile){
        width: calc((100% / 4)) !important;
      }
      @include maxW($mobileSupperWide){
        width: calc((100% / 3)) !important;
      }
      @include maxW($mobilePortraitOnly){
        width: calc((100% / 2)) !important;
      }
    }
  }
  &__content {
    @include flex(unset , unset);
    flex-direction: column;
  }
  &__thumbnail{
    height: 350px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    @include maxW($desktopSupperWide){
      height: 250px;
    }
    @include maxW($mobilePortraitOnly){
      height: 300px
    }
    img{
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all .5s ease;
    }
  }
  &__title{
    color: $white;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    text-align: center;
    transition: all .5s ease;
    @include maxW($desktopSupperWide){
      font-size: 1rem;
    }
    @include maxW($mobile){
      font-size: .8rem;
    }
  }
  &__btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .5s ease;
    z-index: 10;
    svg{
      transition: all .5s ease;
      font-size: 0px;
      color: $red;
    }
  }
  &:hover &__thumbnail img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  &:hover &__title{
    color: $red;
  }
  &:hover &__btn{
    opacity: 1;
  }
  &:hover &__btn svg{
    font-size: 3rem;
  }
}