@import '../../assets/css/index';
.modal{
  @include flex(center, center);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0 , 0 , 0, 0.5);
  opacity: 0;
  visibility: hidden;
  &.active{
    opacity: 1;
    visibility: visible;
    & .modal__content {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &__content{
    position: relative;
    background-color: $dark-mode;
    padding: 2rem;
    width: 50%;
    transform: translateY(-250px);
    opacity: 0;
    transition: all .5s ease;
  }
  &__btn-close{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    transition: all .5s ease;
    &:hover svg{
      color: $red;
    }
    svg{
      color: $white;
      font-size: 1rem;
      font-weight: 800;
    }
  }
}