@import '../../assets/css/index';
.footer{
  padding: 6rem 4rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @include maxW($desktopSupperWide){
    padding: 4rem;
  }
  @include maxW($desktopSupperWide){
    padding: 3rem 2rem;
  }
  &__logo{
    margin: 2rem auto;
    width: 8rem;
    @include maxW($desktopSupperWide){
      width: 6rem;
    }
    @include maxW($mobile){
      width: 4rem;
    }
    img{
      display: block;
      width: 100%;
      object-fit: contain;
    }
  }
  &__wrap{
    @include flex(center , center);
  }
  &__link{
    width: calc((100% / 4) - 40px);
    @include flex(unset , unset);
    flex-direction: column;
    &-item{
      font-size: 1.5rem;
      text-transform: capitalize;
      padding: .75rem 0;
      color: $white;
      transition: all .5s ease;
      @include maxW($desktopSupperWide){
        font-size: 1rem;
      }
      @include maxW($mobile){
        font-size: .8rem;
      }
      &:hover{
        color: $red;
      }
    }
  }
}